.card__img {
    height: 120px;
    img {
        width: 100%;
        height: 100%;
    }
}

.card__photo {
    text-align: center;
    margin-top: -50px;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    span{
        margin-right: 4px;
        vertical-align: sub;
    }
    
}


.custom-card-overlay {
    padding-top: 350px;
    @include media-breakpoint-down(md) {
        padding-top: 210px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 132px;
    }
    &-sm {
        padding-top: 172px;
        @include media-breakpoint-down(md) {
            padding-top: 103px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 132px;
        }
    }
}

.card__stay--height {
    padding-top:128px ;
}

.card-img-overlay {  // 覆蓋一個東西的範本
    background: rgba(#000, .3); //將一個顏色覆蓋上去，利用alpha去調整透明度
    transition: all 0.5s; // 這個顏色的變換跟退場要幾秒
    &:hover {
        background:transparent; // 當滑鼠滑到那個class，將底部的元素顯示出來
    }
}
  


.card__element--sm {
    width: 128px;
    height: 128px;
}

.card__element--hover {
    &:hover {
       border: 3px solid $success;
       span {
           color: $info !important;
       }
       p {
           color: $primary !important;
       }
    }
}