.link-arrow {
  right: 0;
  bottom: 30px;
  @include media-breakpoint-down(md) { 
    bottom: 0;
  }
  &-icon {
    font-size: 44px !important;
    color: $success;
    &:hover {
      color: #af3500;
    }
  }
}