.navbar__logo {
    background: url("../../assets/images/logo.svg");
    width: 122px;
    height: 55px;
    font-size: 0;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.navbar {
    @include media-breakpoint-down(md){
        .nav-link {
            text-align: center;
            border-bottom: 1px solid $gray-200;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}


