.progress {
    border-top:2px solid #DA3A1A;
    &__item {
        position: relative;
        font-weight: 500;
        margin-top:8px;
        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #DA3A1A;
          border-radius: 50%;
          top: -13px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
}
